body{
  background-color: rgb(211, 137, 122);
}
.container {
  height: 100vh;
}
#quote-box {
  background-color: floralwhite;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
  color: rgb(211, 137, 122);
  font-size: 20px;
}
.fa-quote-left {
  opacity: 0.5;
  font-size: 25px;
  margin-bottom: auto;
  height: auto;
}
#author {
  font-size: 15px;
  opacity: 0.8;
}
.btn {
  background-color: rgb(211, 137, 122);
  border: none;
}